@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap');
/*     font-family: 'Fira Sans', sans-serif;
       font-family: 'Poppins', sans-serif; */
*{
    padding: 0px;
    margin: 0px;

}
.container{
    background-color: #D3D3D3;
    width: 100%;
}

.intro{
    border-radius: 20px;
    margin: 0px 5px;
    border: solid;
    border-color: #6577B3;
    border-radius: 20px;
    transition-property:all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.nav{
    width: 100%;
    height: 50px;
    background-color: #6577B3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
.nav a{
    text-decoration: none;
    padding: 8px;
    color: white;
    font-weight: normal;
    font-family: 'Poppins', sans-serif; 
    transition-property: all;
    transition-duration: 200Ms;
    transition-timing-function: ease-in-out;
}

.nav a:hover{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    border: #32406e;
    opacity: 0.6;
}
#contact{
    border-style: solid;
    border: 1px;
    color: white;
    background-color: #32406e;
    border-radius: 10px;
    padding: 8px;
}

.first-comp{
    background-color: #6577B3 ;
    display: flex;
    align-items: center;
    padding: 30px 70px;
    border-radius: 0px 0px 20px 20px;
}

.first-comp-left{
    margin: 30px 0px;
    font-size: 2rem;
}

.resume-btn{ 
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 25px;
    appearance: none;
    font-weight: bolder;
    background-color: rgba(47, 228, 228, 0.795);
}
.resume-btn:hover{ 
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 25px;
    appearance: none;
    font-weight: bolder;
    opacity: 0.5;
    background-color: rgb(47, 228, 228);
    box-shadow: 0 5px 15px rgba(0, 247, 255, 0.4);
}



.first-comp-left div button a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    font-weight: bolder;

}
.first-comp-right{
    display: flex;
    justify-content: center;
    width: 50%;
}
img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.name{
    font-size: 5rem;
    color: rgb(40, 27, 153);
    font-weight: bolder;
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border: #32406e;
    border-style:dotted;
    border-radius: 20px;   
}

.socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border: #32406e;
    border-style: solid;
    border-radius: 20px;
    transition-property:all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.socials a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 15px;
    font-size: larger;
    border: #32406e;
    border-style: solid;
    border-radius: 20px;
    width: 100%;
    height: 60%;
    transform: scale(1.1);
    opacity: 0.6;

}


.socials img{
    width: 30%;
    align-items: center;
    height: 15%;
}

.personal-info{
    display: flex;
    border: solid;
    border-color: #32406e;
    border-radius: 20px;
    padding: 10px 10px 10px;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
    font-size: larger;
    font-family: 'Poppins', sans-serif; 
}

.personal-info p{
    margin: 30px;
}

.projects{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border: solid;
    border-color: #32406e;
    border-radius: 20px;
    /* flex-wrap:wrap; */
    }

    .project-name{
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 10px 10px 10px 10px;
        font-size: larger;
        font-family: 'Poppins', sans-serif; 
        border-style:groove;
        border-radius: 25px;
        padding: 20px 20px;
    }
    .project-name img{
        width: 100%;
        height: 360px;
        margin: 20px;
    }






















footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #494a50;
    color: white;
    /* font-weight: 300; */
    padding: 5px;

}